<div class="wrapper" #wrapperElement>
    <yui-contextmenu [target]="buttonElement" [menuItems]="null" [trigger]="'contextmenu'"
                     (menuOpen)="onMenuOpen($event)" (menuClose)="onMenuClose($event)"
                     (menuChange)="onMenuChange($event)" theme="dark">
        <yui-menu-item text="Create New Data Source" [subtext]="'Ctrl+N'" [toggleable]="true" [(toggled)]="toggleTest"
                       [icon]="'fa fa-plus'" [disabled]="true" (menuSelect)="clickTest()"></yui-menu-item>
        <yui-menu-item text="Context Menu Item II" [icon]="iconTest" [subtext]="'Ctrl+Shift+Right Arrow'"
                       [disabled]="false">
            <yui-menu-item text="Subzero" [disabled]="true"></yui-menu-item>
            <yui-menu-item text="Submenu I" [visible]="visibleTest">
                <yui-menu-item text="Submenu Submenu" [disabled]="disabledTest"></yui-menu-item>
            </yui-menu-item>
            <yui-menu-item [text]="menuText.toString()"></yui-menu-item>
        </yui-menu-item>
        <yui-menu-item [divider]="true"></yui-menu-item>
        <yui-menu-item text="Context Menu Item III" (menuSelect)="selectTestMethod($event)"
                       [iconTemplate]="iconTemplateTest"></yui-menu-item>
        <yui-menu-item [text]="'Toggleable Menu Item'" [toggleable]="true"></yui-menu-item>
        <yui-menu-item [text]="'Image Icon Menu Item'" [subtext]="'Alt+Insert'" [subtextTemplate]="subtextTemplate"
                       [iconTemplate]="editIconTemplate"
                       [image]="'http://icons.iconarchive.com/icons/jommans/briefness/256/Search-icon.png'"></yui-menu-item>
    </yui-contextmenu>
    <button #buttonElement>CONTEXT MENU</button>
</div>

<div style="width: 500px; height: 500px; display: flex; background: #224422" #greenbox>
    <yui-contextmenu [target]="greenbox" [menuItems]="null" [trigger]="'contextmenu'" [precise]="true"
                     (menuOpen)="onMenuOpen($event)" (menuClose)="onMenuClose($event)"
                     (menuChange)="onMenuChange($event)">
        <yui-menu-item text="Export Data" [toggleable]="true" [(toggled)]="toggleTest" [icon]="'fa fa-upload'"
                       [disabled]="true">
            <yui-menu-item text="Export as XML" icon="fa fa-upload" [disabled]="true"></yui-menu-item>
            <yui-menu-item text="Export as JSON" [icon]="'fa fa-star'" [disabled]="true"></yui-menu-item>
            <yui-menu-item text="Export as CSV" [icon]="'fa fa-file-excel-o'" [disabled]="true"></yui-menu-item>
        </yui-menu-item>
        <yui-menu-item [divider]="true"></yui-menu-item>
        <yui-menu-item text="Context Menu Item III" (menuSelect)="selectTestMethod($event)"
                       [iconTemplate]="iconTemplateTest">
            <yui-menu-item text="Submenu I" [visible]="visibleTest">
                <yui-menu-item text="Submenu Submenu" [disabled]="disabledTest"></yui-menu-item>
            </yui-menu-item>
            <yui-menu-item [text]="menuText.toString()"></yui-menu-item>
        </yui-menu-item>
        <yui-menu-item text="Close" [icon]="'fa fa-times'"></yui-menu-item>
    </yui-contextmenu>
</div>

<div style="background: chocolate; color: black;" (contextmenu)="openDynamicContextMenu($event)">
    Dynamic ContextMenu (Right-click)
</div>

<p style="background: greenyellow; color: black;" (click)="openDynamicContextMenu($event)">
    Dynamic ContextMenu 2 (Left-click)
</p>

<yui-contextmenu [target]="contextMenuTargetElement" (menuClose)="onMenuClose($event)"
                 [event]="menuEvent" [trigger]="menuEvent?.type">
    <yui-menu-item text="Add"></yui-menu-item>
    <yui-menu-item text="Edit"></yui-menu-item>
    <yui-menu-item text="Delete"></yui-menu-item>
    <yui-menu-item text="Change Background Color" (menuSelect)="changeBgColor()"></yui-menu-item>
</yui-contextmenu>

<ng-template #coffeeIconTemplate>
    <fa-icon [icon]="coffeeIcon"></fa-icon>
</ng-template>

<ng-template #addIconTemplate>
    <fa-icon [icon]="addIcon"></fa-icon>
</ng-template>

<ng-template #editIconTemplate>
    <fa-icon [icon]="editIcon"></fa-icon>
</ng-template>

<ng-template #deleteIconTemplate>
    <fa-icon [icon]="deleteIcon"></fa-icon>
</ng-template>

<ng-template #viewIconTemplate>
    <fa-icon [icon]="viewIcon"></fa-icon>
</ng-template>

<ng-template #deleteTextTemplate let-menuItem>
    <span style="color: red;">{{menuItem.text}}</span>
</ng-template>

<ng-template #subtextTemplate let-menuItem>
    <span style="color: deeppink; font-weight: bold;">{{menuItem.subtext}}</span>
</ng-template>
